body{
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container{
    width: 1000px;
    height: 1000px;
    margin-top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-container button{
    margin: auto;
    padding: 100px;
    font-size: 100px;
    font-family: sans-serif;
    border-radius: 200vw;
    border-style: none;
    background-color: violet;
}

.center-container h1{
    margin: auto;
    padding: 100px;
    font-size: 100px;
    font-family: sans-serif;
    border-radius: 200vw;
    text-align: center;
    color: violet;
}